{
    "tabWidth": 2,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "semi": false,
    "trailingComma": "none",
    "useTabs": true,
    "printWidth": 70,
    "svelteIndentScriptAndStyle": true,
    "svelteAllowShorthand": true,
    "bracketSameLine": true,
    "quoteProps": "as-needed"
}